<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwa.dao.CityDao">
    <resultMap id="cityResultMap" type="com.lwa.domain.City">
        <result column="id" property="id"></result>
        <result column="province_id" property="provinceId"></result>
        <result column="city_name" property="cityName"></result>
        <result column="description" property="description"></result>
    </resultMap>
    
    <sql id="city_base_column">
        id,province_id,city_name,description
    </sql>

     <select id="findCityByName" resultMap="cityResultMap" parameterType="java.lang.String">
         SELECT
         <include refid="city_base_column"/>
         from city
         <where>
            city_name = #{cityName}
         </where>
     </select>

     <select id="findCityById" resultMap="cityResultMap" parameterType="long">
         SELECT
         <include refid="city_base_column"/>
         from city
         <where>
             id = #{id}
         </where>

     </select>
</mapper>